
Задача 1: Найдите всех женщин с IP-адресом, начинающимся на "1" и вывести их полные имена

In [2]:
# Импортиртируем библиотеку
import pandas as pd 

# Создаем Датафрейм путем считывания файла
df = pd.read_csv('hw_DE_12.csv') 

# Добавляем столбец с полным именем
df['full_name'] = df['first_name'] + ' ' + df['last_name'] 

# Фильтруем данные: выводим только женщин, где ip_address начинается на 1
filtered_df = df[(df["ip_address"].str.startswith("1")) & (df["gender"] == "Female")] 

# Выводим результат
print(filtered_df["full_name"])

8        Kaile Clementson
10         Melosa Boneham
11         Deina Frisdick
15       Mamie Wainwright
25      Ysabel Aitchinson
              ...
980        Pennie Itzhaki
984            Lula Almon
989    Francesca Shorrock
993     Morganica Pierton
997    Natalina Clavering
Name: full_name, Length: 216, dtype: object

Задача 2:  Создайте новый столбец domain, который будет содержать домен из электронной почты (например, для zsheara0@buzzfeed.com домен — buzzfeed.com).

In [3]:
df["domain"] = (        # Создаем новый столбец "domain"
    df["email"]         # Берем столбец с email-адресами
    .str.split('@')     # Разбиваем каждую строку в столбце по символу '@', получаем список из двух частей: ["имя_пользователя", "домен"]
    .str[1]             # Из полученного списка берём второй элемент (индекс 1), который содержит сам домен
    )

Задача 3: Найдите все уникальные домены из столбца domain.

In [ ]:
# Создаем переменную, которой присваиваем уникальные значения столбца domain при помощи метода unique()
unique_domains = df["domain"].unique() 

# Выводим результат
print(unique_domains)

Задача 5*. Отсортируйте данные по столбцу last_name в алфавитном порядке.

In [ ]:
df.sort_values(by='last_name') # сортируем данные в алфавитном порядке по столбцу фамилия

Задача 6*. Найти всех девушек, у которых id - четное число

In [ ]:
print(df.dtypes) # проверяем тип столбцов

In [ ]:
filtered2_df = df[(df["gender"] == "Female") & (df["id"] % 2 == 0)] # фильтруем данные
print(filtered2_df) # выводим результат

Задача 4. Анализ возраста (если бы он был)
Задача:
- Добавьте столбец с возрастом (случайные значения от 18 до 65).
- Разделите пользователей на возрастные группы: 18-25, 26-35, 36-50, 51+.
- Подсчитайте количество пользователей в каждой группе.
- Найдите средний возраст для каждой группы.

In [20]:
import numpy as np

# С помощью библиотеки numpy добавляеем случайные значения от 18 до 65, указываем, что значения нужно добавить по всей длине df
df['age'] = np.random.randint(18, 66, size=len(df)) 

# Определяем границы возрастных групп
bins = [18, 25, 35, 50, 65] # Границы интервалов 
labels = ['18-25', '26-35', '36-50', '51+'] # Названия групп

# Применяем pd.cut(), он позволяет задать границы чисел и присвоить им категории
df['age_group'] = pd.cut(df['age'], bins=bins, labels=labels, right=True) 

df.drop(columns=['age_']) # удалила случайно созданную колонку

,id,first_name,last_name,email,gender,ip_address,full_name,domain,age,age_group
0,1,Zebulon,Sheara,zsheara0@buzzfeed.com,Male,26.254.115.173,Zebulon Sheara,buzzfeed.com,46,36-50
1,2,Gabby,Hundy,ghundy1@dyndns.org,Male,86.222.142.186,Gabby Hundy,dyndns.org,25,18-25
2,3,Zaneta,Macewan,zmacewan2@dyndns.org,Female,20.98.185.65,Zaneta Macewan,dyndns.org,32,26-35
3,4,Linn,Steely,lsteely3@psu.edu,Male,65.253.237.106,Linn Steely,psu.edu,47,36-50
4,5,Althea,Segar,asegar4@prlog.org,Female,25.127.235.34,Althea Segar,prlog.org,56,51+
...,...,...,...,...,...,...,...,...,...,...
995,996,Zsa zsa,McGarahan,zmcgarahanrn@craigslist.org,Female,208.135.43.154,Zsa zsa McGarahan,craigslist.org,43,36-50
996,997,Al,Villiers,avilliersro@nydailynews.com,Agender,168.3.4.142,Al Villiers,nydailynews.com,54,51+
997,998,Natalina,Clavering,nclaveringrp@jugem.jp,Female,16.223.145.44,Natalina Clavering,jugem.jp,37,36-50
998,999,Gretta,Witheford,gwithefordrq@discovery.com,Female,61.83.241.246,Gretta Witheford,discovery.com,35,26-35
999,1000,Tadio,Feighney,tfeighneyrr@google.es,Male,154.243.103.8,Tadio Feighney,google.es,43,36-50

In [21]:
df['age_group'].value_counts() # подсчитываем количество уникальных значений

age_group
36-50    325
51+      284
26-35    234
18-25    135
Name: count, dtype: int64

In [24]:
df.groupby('age_group')['age'].mean()

/var/folders/j1/4klkwz057sbc54r3sdrzqv680000gn/T/ipykernel_1524/622234994.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('age_group')['age'].mean()

age_group
18-25    21.859259
26-35    30.367521
36-50    43.412308
51+      57.880282
Name: age, dtype: float64